@page "/Admin/About"


<MRow>
    <MCol Cols="6">
        <MCard Class="mx-auto" Color="#26c6da" Dark>
            <MCardTitle>
                <span class="text-h6 font-weight-light">关于项目</span>
            </MCardTitle>
            <MCardText Class="text-h5 font-weight-bold">
                "Moments 为你提供了一个全新的方式来与你关注的博客作者和读者互动，让你的博客体验更加丰富和充实。"
            </MCardText>
            <MCardActions>
                <MListItem Class="grow">
                    <MListItemAvatar Color="grey darken-3">
                        <MImage Class="elevation-6"
                                alt="头像"
                                Src="/img/character.png">
                        </MImage>
                    </MListItemAvatar>
                    <MListItemContent>
                        <MListItemTitle>Moments</MListItemTitle>
                    </MListItemContent>
                    <MRow Align=AlignTypes.Center Justify=JustifyTypes.End>
                        <MButton Link Href="https://github.com/Drizzle365/Moments" Target="_blank">开源地址</MButton>
                    </MRow>
                </MListItem>
            </MCardActions>
        </MCard>
    </MCol>
    <MCol Cols="6">
        <MCard Class="mx-auto" Color="#26c6da" Dark>
            <MCardTitle>
                <span class="text-h6 font-weight-light">开发者</span>
            </MCardTitle>
            <MCardText Class="text-h5 font-weight-bold">
                "我们核心目标是通过整合各种订阅源，如 RSS 和 Atom，将你感兴趣的博客转化为一个个人朋友圈。你可以订阅来自世界各地的博客，并实时获取他们的最新动态。无论是热门博客、专业博主，还是你最喜爱的作者，你都可以通过 Moments 获得他们的最新博文、评论和互动。"
            </MCardText>
            <MCardActions>
                <MListItem Class="grow">
                    <MListItemAvatar Color="grey darken-3">
                        <MImage Class="elevation-6"
                                alt="头像"
                                Src="https://q1.qlogo.cn/g?b=qq&nk=396823203&s=640">
                        </MImage>
                    </MListItemAvatar>
                    <MListItemContent>
                        <MListItemTitle>Drizzle</MListItemTitle>
                    </MListItemContent>
                    <MRow Align=AlignTypes.Center Justify=JustifyTypes.End>
                        <MButton Link Href="https://dearain.cn" Target="_blank">查看博客</MButton>
                    </MRow>
                </MListItem>
            </MCardActions>
        </MCard>
    </MCol>

</MRow>