@page "/Admin"
@using Moments.Model
@inject IFreeSql Db

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">
            朋友圈
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">个人博客的社交圈子</h6>
        <p class="card-text">
            为个人博客增加粘性
        </p>
        <a target="_blank" href="/" class="card-link">查看前台</a>

        <a target="_blank" href="https://github.com/Drizzle365/Moments" class="card-link">Github 开源仓库</a>
        <a target="_blank" href="https://dearain.cn/" class="card-link">云烟成雨</a>
    </div>
</div>
<ul class="list-group" style="margin-top: 20px">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        朋友
        <span class="badge bg-primary rounded-pill">@_friend</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        文章
        <span class="badge bg-primary rounded-pill">@_article</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        日志
        <span class="badge bg-primary rounded-pill">@_gather</span>
    </li>
</ul>

@code {
    long _friend;
    long _article;
    long _gather;

    protected override async Task OnInitializedAsync()
    {
        _friend = await Db.Select<Friend>().CountAsync();
        _article = await Db.Select<Article>().CountAsync();
        _gather = await Db.Select<GatherLog>().CountAsync();
    }

}