@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">网页标题</span>
    <input type="text" class="form-control" value="@Configuration["Title"]" disabled="">
</div>
<div class="m-3" style="text-align: center">
    请修改应用中的appsettings.json文件后重启应用配置生效
</div>
<div class="mb-3">
    <label for="friend-iframe" class="form-label">友链嵌入代码：</label>
    <textarea class="form-control" @bind="_friend" id="friend-iframe" rows="3">
</textarea>
</div>
<div class="mb-3">
    <label for="rss-iframe" class="form-label">Rss嵌入代码：</label>
    <textarea class="form-control" @bind="_rss" id="rss-iframe" rows="3"></textarea>
</div>

@code {
    string? _friend;
    string? _rss;
    protected override void OnInitialized()
    {
        _rss = $"<iframe loading=\"lazy\" src=\"{NavigationManager.BaseUri}?cmd=list\" name=\"moments\" width=\"100%\" height=\"1100px\" style=\"border: none #000000;\"></iframe>";
        _friend = $"<iframe loading=\"lazy\" src=\"{NavigationManager.BaseUri}friends\" name=\"moments\" width=\"100%\" height=\"1100px\" style=\"border: none #000000;\"></iframe>";
        base.OnInitialized();
    }

}