@using Moments.Model
@inject IFreeSql Db
@inject NavigationManager NavigationManager
<div class="m-1">
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#rss-info" @onclick="DelAll">清空数据</button>
</div>

<!-- Info Modal -->
<div class="modal fade" id="rss-info" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">信息</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                清空成功，请手动刷新页面
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<RssList></RssList>

@code {

    async void DelAll()
    {
        await Db.Delete<Article>()
            .Where("1=1")
            .ExecuteAffrowsAsync();
    }

}