@page "/Admin"
@using Moments.Shared.Admin
@inject IConfiguration Configuration
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@if (_passWord == Configuration["PassWord"])
{
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">仪表盘</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#friends" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">朋友们</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#article" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">RSS</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#gather" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false">采集</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#config" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false">配置</button>
            </li>
        </ul>
    </header>
    <div class="container" style="margin-top: 20px">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="home" tabindex="0">
                <Dashboard></Dashboard>
            </div>
            <div class="tab-pane fade" id="friends" tabindex="0">
                <FriendsManage></FriendsManage>
            </div>
            <div class="tab-pane fade" id="article" tabindex="0">
                <RssManage></RssManage>
            </div>
            <div class="tab-pane fade" id="gather" tabindex="0">
                <GatherManage></GatherManage>
            </div>
            <div class="tab-pane fade" id="config" tabindex="0">
                <Config></Config>
            </div>
        </div>
    </div>
}
else
{
    <a href="/Login">当前未登录，前往登录！</a>
}

@code
{
    string? _passWord;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var res = await ProtectedSessionStore.GetAsync<string?>("PassWord");
            _passWord = res.Success ? res.Value : null;
            StateHasChanged();
        }
    }
}