@page "/Login"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
<div class="m-3">
    <input placeholder="请输入密钥" type="password" class="form-control mb-2" @bind="_passWord">
    <button class="btn btn-success" @onclick="Submit">登录</button>
</div>

@code {
    string? _passWord;

    async void Submit()
    {
        if (Configuration["PassWord"] == _passWord)
        {
            await ProtectedSessionStore.SetAsync("PassWord", _passWord!);
            NavigationManager.NavigateTo("/Admin", true);
        }
    }

}