@using Moments.Service
@inherits LayoutComponentBase
@inject ConfigService ConfigService
<PageTitle>@ConfigService.Get("Title")</PageTitle>
<MApp>
    <div class="main">
        @Body
    </div>
</MApp>